/* Resetting default body styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}

/* Navbar Styles */
.navbar {
    position: fixed;
    top: 0;
    background-color: rgb(175, 105, 255);
    z-index: 1000;
    justify-content: flex-end;
    width: 100%;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar ul li {
    margin-right: 15px;
    color: white;
}

.navbar ul li.name {
    margin-right: auto;
    padding-left: 15px;
    letter-spacing: 3px;
    font-size: 18px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
}

.navbar ul li a:hover {
    text-decoration: underline;
    color: yellow;
}

/* Dashboard Styles */
.dashboard {
    padding: 20px;
    margin-top: 50px;
}

.dashboard h1 {
    color: #000000;
}

/* Account Summary Styles */
.account-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.account {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    margin-right: 20px;
}

/* Transaction History Styles */
.transaction-history {
    margin-top: 20px;
}

.transaction-history h2 {
    color: #000000;
}

.transaction-history ul {
    list-style-type: none;
    padding: 0;
}

.transaction-history li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

/* Common Link Styles */
a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; 
}

/* Form Styles */
form {
    width: 300px; 
    text-align: center; 
    color: black;
}

label {
    display: block;
    margin: 10px 0; 
}

input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    box-sizing: border-box; 
}

/* Submit Button Styles */
input[type="submit"] {
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 20px;
    width: 100px;
    background-color: #2980b9; 
}

input[type="submit"]:hover {
    background-color: #297fb9ac; 
}

/* Error Message Styles */
p.error-message {
    color: red;
    margin-top: 10px; 
}

/* General Button Styles */
button {
    background-color: #3498db; 
    color: #fff; 
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
    margin-top: 20px;
    width: 160px;
}

button:hover {
    background-color: #297fb9ac; 
}

/* Form Container Styles */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.form-container form {
    width: 30%;
}

.form-container button {
    width: 100%;
}
