/* Resetting default styles and setting font */
body, html {
  height: 100vh;
  width:100vw;
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Navbar Styles */
.navbar {
  position: fixed;
  top: 0;
  background-color: rgb(175, 105, 255);
  z-index: 1000;
  justify-content: flex-end;
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

ul li {
  margin-right: 15px;
  color: white;
}

ul li.name {
  margin-right: auto;
  padding-left: 15px;
  letter-spacing: 3px;
  font-size: 18px;
}

ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  display: inline-block;
}

ul li a:hover {
  text-decoration: underline;
  color: yellow;
}

/* Hero Text Styles */
.hero-text {
  color: black;
  margin-left: 190px;
  margin-top: 175px;
}

.hero-text p {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-text .line p {
  font-size: 30px;
  font-weight: 400;
}

.hero-text .button button {
  margin-top: 20px;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: #3498db; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 20px;
  width: 160px;
}

.button button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 0, 0.605);
}

/* Project Container Styles */
.projects-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  line-height: 25px;
}

.projects-container a {
  color: yellow;
}

.projects-container a:hover {
  color: black;
}

.projects-container h2 {
  text-decoration: underline;
  font-size: 27px;
}

/* Project Styles */
.project {
  flex: 1;
  max-width: 300px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px;
  text-align: center;
  max-width: 600px;
  line-height: 30px;
}

/* Projects Section Styles */
.projects {
  color: black;
  text-align: center;
  margin-top: 20px;
}

.projects p {
  font-size: 30px;
  font-weight: 400;
}

.projects a {
  color: yellow;
}

.projects a:hover {
  color: black;
}

/* Photo Styles */
.photo {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-top: 200px;
  margin-bottom: 50px;
}

.photo-text {
  border: 2px solid black;
  margin-right: 220px;
  margin-left: 220px;
  line-height: 30px;
  padding: 20px;
  margin-top: 20px;
}

.photo-text p {
  margin-left: 25px;
  margin-right: 25px;
}

.photo p {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-top: 200px;
}

.photo img {
  border: 2px solid black;
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  width: 17%;
}
.links {
  margin-left: 25px;
}

/* Different Section Styles */
#transaction {
  background-color: rgb(255, 206, 206);
  font-size: 19px;
}

#wire {
  background-color: rgb(188, 255, 194);
  font-size: 19px;
}

#credit {
  background-color: rgb(183, 212, 255);
  font-size: 19px;
}

/* Image Styles */
.link-item img {
  height: 60px;
  width: 60px;
}

/* Video Player Styles */
#video-player {
  width: 750px;
  margin-left: 620px;
  margin-top: -120px;
  margin-bottom: 80px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  background-color: #f1f1f1;
}

#contact {
  font-size: 18px;
  white-space: pre;
  text-align: center;
  margin-top: -25px;
}
button {
  background-color: #3498db; 
  color: #fff; 
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 20px;
  width: 160px;
}

button:hover {
  background-color: #297fb9ac; 
}

canvas {
  display: block;
  border: none;
}
.credit-animation {
  width: 30%;
  height: 55%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.credit-text {
  text-align: center;
  margin-top: -70px;
  font-size: 20px;
  font-size: 40px;
  font-weight: 600;
}
.projects-container {
  display: flex;
  height: 100vh;
}

.project-box {
  flex: 1;
  margin: 10px;
}

.project-box p {
  margin: 20px;
  font-size: 16px;
  color: black;
  line-height: 20px;
}

form {
  width: 100%;
  text-align: initial;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.form-group {
  flex: 0 0 45%; 
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 5px;
  color: black
}

input {
  padding: 8px;
}

input[type="submit"],
button {
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 30px;
  background-color: #3498db; 
  padding: 10px;
}

input[type="submit"]:hover,
button:hover {
  background-color: #297fb9ac;
}
#box2 {
  text-align: center;
}

.flash-message.error {
    color: #ff3333;
}

.flash-message.success {
    color: #33cc33;
}
