body, html {
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    background-color: rgb(175, 105, 255);
    z-index: 1000;
    justify-content: flex-end;
    width: 100%;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  ul li {
    margin-right: 15px;
    color: white;
  }
  
  ul li.name {
    margin-right: auto;
    padding-left: 15px;
    letter-spacing: 3px;
    font-size: 18px;
  }
  
  ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
  }
  
  .hero-text {
    color: black;
    margin-left: 190px;
    margin-top: 175px;
  }
  
  .hero-text p {
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .hero-text .line p {
    font-size: 30px;
    font-weight: 400;
  }
  
  .hero-text .button button {
    margin-top: 20px;
    padding: 8px;
    background-color: yellow;
    border: none;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    display: inline-block;
  }
  
  .button button:hover {
    cursor: pointer;
  }
  
  ul li a:hover {
    text-decoration: underline;
    color: yellow;
  }
  
  .projects-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    line-height: 25px;
  }
  
  .projects-container a {
    color: yellow;
  }
  
  .projects-container a:hover {
    color: black;
  }
  
  .projects-container h2 {
    text-decoration: underline;
    font-size: 27px;
  }
  
  .project {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    text-align: center;
    max-width: 600px;
    line-height: 30px;
  }
  
  .projects {
    color: black;
    text-align: center;
    margin-top: 20px;
  }
  
  .projects p {
    font-size: 30px;
    font-weight: 400;
  }
  
  .projects a {
    color: yellow;
  }
  
  .projects a:hover {
    color: black;
  }
  .photo {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 200px;
    margin-bottom: 50px; 
}
  
  .photo-text {
    border: 2px solid black;
    margin-right: 220px;
    margin-left: 220px;
    line-height: 30px;
    margin-bottom: 100px;
    padding: 20px;
    margin-top: 20px; 
}
  
  .photo-text p {
    margin-left: 25px;
    margin-right: 25px;
  }
  .photo p {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 200px;
  }
  
  .photo img {
    border: 2px solid black;
    border-radius: 100%;
    display: block;
    margin: 0 auto;
    width: 17%;
}
  
  .section {
    margin-top: 60px;
  }
  .links {
    margin-left: 25px;
  }
#deposit {
    background-color: rgb(255, 206, 206);
    font-size: 19px;
}
#loan {
    background-color: rgb(188, 255, 194);
    font-size: 19px;
}
#investment {
    background-color: rgb(183, 212, 255);
    font-size: 19px;
}
.link-item img {
  height: 60px;
  width:60px;
}

#video-player {
  width: 750px;
  height: 100%;
  margin-left: 620px;
  margin-top: -120px;
  margin-bottom: 80px;
}