<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

       <!-- Page Title -->
    <title>NovaX | Credit Card</title>
 
     <!-- Link to External Stylesheets -->
     <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
     <link rel="stylesheet" href="../static/credit.css">
 
     <!-- Link to Google Fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;700&display=swap" rel="stylesheet">
     
    <!--Favicon-->
    <link rel="icon" type="image/png" href="../static/images/Microsoft-Fluentui-Emoji-3d-Bank-3d.512.png">
    
     <!-- Imports for credit card animation scripts-->

     <script type="module" src="../static/credit-animation.js"></script>
</head>

<body>
    <!-- Navigation Bar Section -->
    <div class="navbar">
        <ul>
            <li class="name"><a href="{{ url_for('index') }}">NovaX</a></li>
            <li><a href="{{ url_for('login') }}" class="login">Login</a></li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('index') }}#projects">Services</a></li>
            <li><a href="{{ url_for('credit') }}">Credit Card</a></li>
            <li><a href="{{ url_for('index') }}#about">About Us</a></li>
        </ul>
    </div>

<!--Credit Card Animation-->
<div class="credit-animation" id="credit-nav">
    <video id="autoplayVideo" width="900vw" height="1900vw" loop muted autoplay>
        <source src="../static/images/credit-card.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>

<!-- Credit Card Description Container-->
<div class="projects-container">
    <div class="project-box" id="box1">
    <p>
        Introducing NovaX Credit Card – Your Passport to Seamless Transactions!<br><br>
        Elevate your financial experience with the NovaX Credit Card, designed to 
        empower your lifestyle. Enjoy the freedom to make secure and convenient transactions, 
        whether it's shopping for the latest trends, dining at your favorite restaurants, or 
        booking your dream getaway.<br><br>NovaX Credit Card offers a range of exclusive benefits, 
        including competitive interest rates, rewards programs, and unparalleled customer service. 
        With cutting-edge security features, you can shop with confidence, knowing that your transactions 
        are protected.<br><br>Experience the next level of financial flexibility and join NovaX – where innovation meets convenience. 
        Apply for your NovaX Credit Card today and embark on a journey of limitless possibilities! Fill out this application for endless benefits from financial stability</p>
    </div>
    <!-- Form for Credit-->
    <div class="project-box" id="box2">
    <div class="flash-messages">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="flash-message {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
    </div>
    <form method="post" action="{{ url_for('credit') }}">
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" required>
        </div>

        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" name="address" required>
        </div>

        <div class="form-group">
            <label for="city">City:</label>
            <input type="text" name="city" required>
        </div>

        <div class="form-group">
            <label for="state">State:</label>
            <input type="text" name="state" required>
        </div>

        <div class="form-group">
            <label for="postal_code">Postal Code:</label>
            <input type="text" name="postal_code" required>
        </div>

        <div class="form-group">
            <label for="annual_income">Annual Income:</label>
            <input type="number" name="annual_income" required>
        </div>

        <!-- Submit Button -->
        <button type="submit">Submit Application</button>
    </form>
</div>
    <!-- Footer -->
    <footer>
        <p>This website is created for educational purposes. &copy; 2024 NovaX Bank. All rights reserved.   <a href="https://github.com/mattsel/NovaX-Bank">Repository</a></p>
    </footer>
</div>

</body>
</html>
