<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}">
</head>
<body>
    <div id="home" class="section"></div>
    <div class="navbar">
        <div class="navbar">
            <ul>
                <li class="name"><a href="{{ url_for('index') }}">NovaX</a></li>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('index') }}">Logout</a></li>
                <li><a href="{{ url_for('index') }}">Services</a></li>
                <li><a href="{{ url_for('index') }}">About Us</a></li>
            </ul>
        </div>
    </div>
    <h1>Dashboard</h1>
    <p>Welcome, {{ username }}!</p>

    <div class="form-container">
        <form action="{{ url_for('deposit') }}" method="get">
            <button type="submit">Deposit</button>
        </form>
        <form action="{{ url_for('withdraw') }}" method="get">
            <button type="submit">Withdraw</button>
        </form>
        <form action="{{ url_for('check_balance') }}" method="get">
            <button type="submit">Check Balance</button>
        </form>
        <form action="{{ url_for('wire_transfer') }}" method="get">
            <button type="submit">Wire Transfer</button>
        </form>    
    </div>
    
</body>
</html>
