<!-- Landing Page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>NovaX</title>

    <!-- Link to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;700&display=swap" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" type="image/png" href="../static/images/Microsoft-Fluentui-Emoji-3d-Bank-3d.512.png">

    <!-- Link to External Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="../static/styles.css">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="../static/main.js"></script>
</head>

<body>
    <!-- Navigation Bar Section -->
    <div id="home" class="section"></div>
    <div class="navbar">
        <ul>
            <li class="name"><a href="#home">NovaX</a></li>
            <li><a href="{{ url_for('login') }}" class="login">Login</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="#projects">Services</a></li>
            <li><a href="{{ url_for('credit') }}">Credit Card </a></li>
            <li><a href="#about">About Us</a></li>
        </ul>
    </div>

    <!-- Home Hero Section -->
    <div class="home-hero">
        <div class="hero-text">
            <p>Welcome,</p>
            <div class="line">
                <p>Thanks for Checking Out NovaX.</p>
            </div>
            <div class="line">
                <p>Please Review Our Services and Open an Account!</p>
            </div>
            <div class="button"><a href="{{ url_for('new_acc') }}"><button>Sign up</button></a></div>

            <!-- Video Section -->
            <div id="video-section">
                <div id="video-container">
                    <video id="video-player" loop muted playsinline>
                        <source src="../static/images/computer_animation.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
        </div>
    </div>

    <!-- Projects Section -->
    <div id="projects" class="section">
        <div class="hero-img">
            <div class="projects">
                <p>Our Services</p>
            </div>

            <div class="projects-container">
                <!-- Credit Card Project -->
                <div class="project" id="credit">
                    <h2>Credit Card</h2>
                    <!-- Credit Card Description -->
                    <p>NovaX Credit Card is a distinguished financial services provider committed to delivering cutting-edge and reliable credit card 
                        solutions to its clientele. Renowned for its unwavering commitment to transparency, security, and technological innovation, NovaX sets 
                        itself apart in the industry. The credit cards offered by NovaX cater to diverse consumer needs, featuring flexible payment options, competitive 
                        interest rates, and an array of rewards and benefits tailored to enhance the financial well-being of its cardholders.<br><br>

                        NovaX takes pride in its user-friendly interfaces and robust security measures, ensuring customers can confidently manage their finances while 
                        enjoying the convenience of a NovaX credit card. Whether simplifying everyday transactions or accessing exclusive perks, NovaX is dedicated to 
                        elevating the overall financial experience for its cardholders. Positioned as a trusted partner, NovaX Credit Card aims to be at the forefront of the
                         industry, providing a reliable and rewarding credit card solution for individuals seeking financial empowerment.
                        </p>
                        <div class="button-project" id="credit_button"><a href="{{ url_for('credit') }}"><button>Try Me</button></a></div>
                </div>
 
                <!-- Wire Transfer Project -->
                <div class="project" id="wire">
                    <h2>Wire Transfers</h2>
                    <!-- Wire Transfer Services Description -->
                    <p>Wire transfer services, a pivotal component of modern banking, play a vital role in facilitating seamless 
                        financial transactions across the globe. These services offer individuals and businesses a secure and efficient 
                        method for transferring funds domestically and internationally. The efficiency and speed of wire transfers contribute 
                        to the agility of businesses, enabling them to navigate the complexities of the global marketplace. The ability to transfer money
                        instantly in this day and age is crucial with the evolution of technology.<br><br>
                        In the realm of personal finance, wire transfers provide a swift and reliable way to send money to family members, 
                        make investments, or handle urgent financial matters. This expeditious mode of transaction ensures that individuals 
                        can meet their financial obligations promptly, irrespective of geographical boundaries. Additionally, wire transfers 
                        are often employed for significant transactions, such as purchasing real estate or managing investments, where the immediacy 
                        and security of funds are paramount.<br><br>
                        <div class="button-project" id="wire_button"><a href="{{ url_for('login') }}"><button>Try Me</button></a></div>
                </div>

                    <div class="project" id="transaction">
                        <h2>Transaction Services</h2>
                        <!-- Transaction Services Description -->
                        <p>Deposit services serve as the bedrock of the banking relationship, providing individuals and businesses
                            a secure haven for their financial resources. In the realm of deposit accounts, savings accounts take
                            center stage, offering customers the opportunity to accumulate funds while earning interest, thereby
                            fostering a disciplined approach to saving. This not only facilitates financial stability but also
                            cultivates a sense of financial responsibility. <br><br>These
                            accounts facilitate seamless transactions, bill payments, and the convenient access to funds required
                            for the exigencies of modern life. The combination of savings and checking accounts provides a
                            comprehensive suite of financial tools, enabling individuals to manage their resources efficiently and
                            with confidence. Through deposit services, banks not only offer financial security but also empower
                            their clients to navigate the complexities of personal finance effectively.</p>
                            <div class="button-project" id="transaction_button"><a href="{{ url_for('login') }}"><button>Try Me</button></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- About Us Section -->
    <div class="section" id="about_section">
            <div class="photo">
                <p>About Us</p>
                <div class="photo-support" id="about"></div>
                <img src="../static/images/headshot.PNG" alt="headshot">
            </div>

            <div class="photo-text">
                <p>
                    Welcome to the world of NovaX Bank, where our commitment to revolutionizing the banking experience is as
                    unwavering as our dedication to unparalleled customer service. As a beacon of innovation in the financial
                    landscape, NovaX stands at the intersection of cutting-edge technology, community engagement, and sustainable
                    banking practices. <br> <br> Embark on a digital odyssey with NovaX, as our state-of-the-art mobile app
                    becomes your trusted companion in the realm of modern banking. Seamlessly managing your accounts, conducting
                    transactions, and navigating our robust suite of financial tools is not just efficient; it's empowering.
                    NovaX's user-centric design ensures that your digital journey is not only intuitive but tailored to meet your
                    unique needs. Rest assured, our commitment to security is paramount, with advanced measures in place to
                    safeguard every facet of your financial interactions. <br> <br> However, NovaX is more than just a digital
                    platform; it's a catalyst for positive change in the communities we serve. Our community engagement initiatives
                    extend beyond banking transactions to collaborations with local businesses and non-profit organizations. By
                    strategically supporting local economies and contributing to social causes, NovaX is not just redefining
                    banking; it's redefining corporate responsibility. <br> <br> Sustainability is ingrained in NovaX's DNA.
                    Our eco-friendly policies extend beyond digital statements to a holistic approach that reduces our environmental
                    footprint. As we pioneer the convergence of technology and responsibility, NovaX envisions a future where
                    banking not only adapts to the changing world but actively contributes to its betterment. NovaX Bank stands as
                    a testament to a bold vision that transcends the conventional boundaries of banking. In our pursuit of excellence,
                    we have cultivated an ecosystem where innovation and customer-centricity coalesce seamlessly. Explore the unparalleled
                    spectrum of financial services that NovaX offers, where each product is meticulously crafted to cater to the diverse
                    needs of our clientele. From personalized lending solutions to robust investment opportunities, NovaX is your
                    trusted partner in navigating the complex financial landscape. <br> 
                </p>
            </div>

            <!-- Contact Section -->
            <div id="contact">
                <p>Contact Us:  Phone - +1 800 999 9999    |    Email - NovaX@bank.com    |    Mail - 314 NovaX Rd.</p>

            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>This website is created for educational purposes. &copy; 2024 NovaX Bank. All rights reserved.   <a href="https://github.com/mattsel/NovaX-Bank">Repository</a></p>
    </footer>

<!-- Video Player Script for Home Hero Section -->
<script>
    // Getting the video element and the section where it is located
    var video = document.getElementById('video-player');
    var videoSection = document.getElementById('video-section');

    // Intersection Observer options
    var options = {
        root: null,
        rootMargin: '0px',
        threshold: 0.3 
    };

    // Creating an Intersection Observer
    var observer = new IntersectionObserver(callback, options);

    // Callback function for the Intersection Observer
    function callback(entries, observer) {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                // Play the video when it becomes visible
                if (video.paused) {
                    video.play();
                    video.playbackRate = 1.5; // Adjusting playback speed
                }
            } else {
                // Pause the video when it goes out of view and save the current time
                if (!video.paused) {
                    video.pause();
                    saveCurrentTime();
                }
            }
        });
    }

    // Save the current time of the video to localStorage
    function saveCurrentTime() {
        localStorage.setItem('videoCurrentTime', video.currentTime);
    }

    // Retrieve the saved current time from localStorage
    function retrieveCurrentTime() {
        var currentTime = localStorage.getItem('videoCurrentTime');
        return currentTime ? parseFloat(currentTime) : 0;
    }

    // Set the video's current time to the retrieved time
    video.currentTime = retrieveCurrentTime(); 
    
    // Start observing the video section
    observer.observe(videoSection);
</script>

<!-- Video Player Script for Credit Card Animation Section -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var video = document.getElementById('credit-player');
        
        // Intersection Observer options
        var options = {
            root: null,
            rootMargin: '0px',
            threshold: 0.3
        };

        // Creating an Intersection Observer
        var observer = new IntersectionObserver(callback, options);

        // Callback function for the Intersection Observer
        function callback(entries, observer) {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    // Play the video when it becomes visible
                    if (video.paused) {
                        video.play();
                    }
                } else {
                    // Pause the video when it goes out of view
                    if (!video.paused) {
                        video.pause();
                    }
                }
            });
        }

        // Start observing the video
        observer.observe(video);
    });
</script>


</body>
</html>
