<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}">
</head>
<body>
    <div id="home" class="section"></div>
    <div class="navbar">
        <ul>
            <li class="name"><a href="#home">NovaX</a></li>
            <li><a href="#home">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
            <li><a href="#projects">Services</a></li>
            <li><a href="#about">About Us</a></li>
        </ul>
    </div>

    <h1 class="newacc-heading">Create a New Account</h1>
    <form method="post" action="{{ url_for('new_acc') }}">
        <label for="username">Username:</label>
        <input type="text" name="username" required>

        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" name="password" required>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" name="confirm_password" required>

        <button type="submit">Create Account</button>
    </form>
</body>
</html>
