<!-- Wire Transfer Page -->

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags for character set and viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>NovaX | Wire Transfer</title>

    <!-- Link to External Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}">
    <link rel="stylesheet" href="../static/templates.css">

    <!-- Link to Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;300;700&display=swap" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" type="image/png" href="../static/images/Microsoft-Fluentui-Emoji-3d-Bank-3d.512.png">
</head>

<body>
    <!-- Sections and Navigation Bar -->
    <div id="home" class="section"></div>
    <div class="navbar">
        <ul>
            <li class="name"><a href="{{ url_for('dashboard') }}">NovaX</a></li>
            <li><a href="{{ url_for('index') }}">Logout</a></li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('index') }}#projects">Services</a></li>
            <li><a href="{{ url_for('credit') }}">Credit Card</a></li>
            <li><a href="{{ url_for('index') }}#about">About Us</a></li>
        </ul>
    </div>

    <!-- Wire Transfer Section -->
    <h1>Wire Transfer</h1>

    <!-- Message and Remaining Balance Display -->
    <div id="message"></div>
    <div id="remaining-balance">
        {% if remaining_balance %}
            <p>Remaining Balance: ${{ remaining_balance }}</p>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <!-- Wire Transfer Form -->
    <form method="post" action="{{ url_for('wire_transfer') }}">
        <label for="recipient">Recipient Email:</label>
        <input type="text" name="recipient" required>
        <label for="amount">Amount:</label>
        <input type="text" name="amount" pattern="^\d+(\.\d{1,2})?$" title="Please enter a valid number with up to two decimal places" required>
        <button type="submit">Wire Transfer</button>
    </form>
    
    <!-- Additional Information and Test Credentials -->
    <br>
    <p3>**Test credentials for a user to wire transfer to a precreated account**<br></p3>
    <p3>BUT function does work with proper credentials from a created account</p3>
    <p4><b>Email:</b> test_wire@gmail.com</p4>

    <!-- Back to Dashboard Link -->
    <a href="{{ url_for('dashboard') }}">
        <button type="button">Back to Dashboard</button>
    </a>

     <!-- Footer -->
     <footer>
        <p>This website is created for educational purposes. &copy; 2024 NovaX Bank. All rights reserved.</p>
    </footer>
    
</body>

<!-- Script for Dynamically Updating Messages and Remaining Balance -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
    // This function will be executed when the DOM is fully loaded

    // Get query parameters from the URL
    const params = new URLSearchParams(window.location.search);
    const message = params.get('message');
    const remainingBalance = params.get('remaining_balance');

    // Get references to HTML elements by their IDs
    const messageDiv = document.getElementById('message');
    const remainingBalanceDiv = document.getElementById('remaining-balance');

    // Update HTML elements based on query parameters
    if (message) {
        messageDiv.innerText = message;
    }

    if (remainingBalance) {
        remainingBalanceDiv.innerHTML = `<p>Remaining Balance: $${remainingBalance}</p>`;
    }
});

</script>

</html>
