<!-- withdraw.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Withdraw</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='templates.css') }}">
</head>
<body>
    <div id="home" class="section"></div>
    <div class="navbar">
        <ul>
            <li class="name"><a href="{{ url_for('login') }}">NovaX</a></li>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
            <li><a href="{{ url_for('index') }}">Services</a></li>
            <li><a href="{{ url_for('index') }}">About Us</a></li>
        </ul>
    </div>
    
    <h1>Withdraw Funds</h1>

    <div id="message">
        {% if message %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

    <div id="remaining-balance">
        {% if remaining_balance %}
            <p> Remaining Balance: ${{ remaining_balance }}</p>
        {% endif %}
    </div>

    <div id="message"></div>
    <form method="post" action="{{ url_for('withdraw') }}">
        <label for="amount">Amount:</label>
        <input type="number" name="amount" required>
        <button type="submit">Withdraw</button>
    </form>
    <a href="{{ url_for('dashboard') }}">
        <button type="button">Back to Dashboard</button>
    </a>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
    
            const params = new URLSearchParams(window.location.search);
            const message = params.get('message');
            const remainingBalance = params.get('remaining_balance');
    
            const messageDiv = document.getElementById('message');
            const remainingBalanceDiv = document.getElementById('remaining-balance');
    
            if (message) {
                messageDiv.innerText = message;
            }
    
            if (remainingBalance) {
                remainingBalanceDiv.innerHTML = `<p>Remaining Balance: $${remainingBalance}</p>`;
            }
        });
    </script>
</body>
</html>
